doctype html
html
	head
		title «timeweb»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		div.enter
			div.enter__wrapper
				div.enter__window
					p.error Логин или пароль указаны неверно. Попробуйте еще раз.
					form(action='#' method='get' onsubmit='return validation()').enter__form
						div.enter__logo
							img(src='img/logo.png' alt='logo')
						input(type='text' name='enter__login' id='enter__login' placeholder='Логин').enter__login.enter__input-text
						input(type='password' name='enter__password' id='enter__password' placeholder='Пароль').enter__password.enter__input-text
						input(type='checkbox' name='enter__remember' id='enter__remember').enter__remember
						label(for='enter__remember').enter__checkbox-label Запомнить меня
						a(href='#').enter__recover Восстановить пароль
						input(type='submit' name='enter__submit' value='Войти').enter__submit
					ul.panel
						li.panel__item
							a(href='#').panel__link
								span Хостинг
						li.panel__item
							a(href='#').panel__link.panel__link--active
								span VDS
						li.panel__item
							a(href='#').panel__link
								span Интеграторы
						li.panel__item
							a(href='#').panel__link
								span Вебмастера
						li.panel__item
							a(href='#').panel__link
								span Почта


		script(src='js/script.js')