/*error*/
.error{
	//display: none;
	padding: 0 20px 0 55px;
	position: absolute;
	top: -70px;
	left: 0;
	right: 0;
	background: #fff9f9;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 45px;
	font-weight: 400;
	color: #993333;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	text-align: left;

	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-bottom: 19px solid #cc6666;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
}
/*end of error*/