/*error*/
.error{
	display: none;
	padding: 0 20px 0 55px;
	position: absolute;
	top: -70px;
	left: 0;
	right: 0;
	background: #fff9f9;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	box-shadow: 7px 7px 33px #dce2e3;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 45px;
	font-weight: 400;
	color: #993333;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	text-align: left;

	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 20px;
		margin: -10px 0 0;
		width: 0;
		height: 0;

		@include sprite($warning);
	}
}
/*end of error*/